subnets:
- azs: [z1,z2,z3]
  range: 192.168.123.0/24
  dns: [192.168.5.1]
  cloud_properties_ignored:
    fake: true
    test: 'yes'
networks:
- name: jumpbox
  size: 2
  static: 1
- name: vault
  size: 4
  static: 3
- name: cf
  size: 64
  static: 4